/* Transformations
functions

--rotate () - rotation
--scale() - making larger or smaller
--skew()  for tilting right or left
--translate () for positioning on the screen
*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
}

.container {
  perspective: 200px;
}

.container:hover .box{
 transform: rotateY(45deg);
 transform-origin: 0 50%;
}

.container:hover .box-special {
  transform: rotateX(45deg)
}