body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  /*transition: transform 0.5s ease-in;
  transition: transform 0.5s cubic-bezier(.12,.91,.97,.12);*/
  transition: transform 0.5s,  background 0.5s; 
  
}

.box:hover {
  transform: rotate(45deg);
  background: dodgerblue;
}